extends layout

block content
  div.container.about
    h1 Credits
    h2 Icons
    p
      | Aperture designed by 
      a(href="http://www.thenounproject.com/demos") Dmitriy T
      | &nbsp;from the&nbsp;
      a(href="http://www.thenounproject.com") Noun Project
    p
      | Time, Camera Lens and Camera designed by 
      a(href="http://www.thenounproject.com/itscip") Ciprian Popescu
      | &nbsp;from the&nbsp;
      a(href="http://www.thenounproject.com") Noun Project
    p
      | Lens designed by 
      a(href="http://www.thenounproject.com/imicons") iconsmind.com
      | &nbsp;from the&nbsp;
      a(href="http://www.thenounproject.com") Noun Project
    p
      | Film designed by 
      a(href="http://www.thenounproject.com/DHETTEIX") Dan Hetteix
      | &nbsp;from the&nbsp;
      a(href="http://www.thenounproject.com") Noun Project
    h2 npm packages
    each package in packages
      a(href="https://www.npmjs.org/package/#{package}") #{package}
      - if (packages[packages.length-1] != package)
        | , 
    h2 Bower components
    each component in components
      a(href="http://bower.io/search/?q=#{component}") #{component}
      - if (components[components.length-1] != component)
        | , 
    