extends layout

block content
  div.container.about
    h1 Icons
    p
      | Aperture designed by 
      a(href="http://www.thenounproject.com/demos") Dmitriy T
      | &nbsp;from the&nbsp;
      a(href="http://www.thenounproject.com") Noun Project
    p
      | Time, Camera Lens and Camera designed by 
      a(href="http://www.thenounproject.com/itscip") Ciprian Popescu
      | &nbsp;from the&nbsp;
      a(href="http://www.thenounproject.com") Noun Project
    p
      | Lens designed by 
      a(href="http://www.thenounproject.com/imicons") iconsmind.com
      | &nbsp;from the&nbsp;
      a(href="http://www.thenounproject.com") Noun Project
    p
      | Film designed by 
      a(href="http://www.thenounproject.com/DHETTEIX") Dan Hetteix
      | &nbsp;from the&nbsp;
      a(href="http://www.thenounproject.com") Noun Project